<% content_for :breadcrumb do %>
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li class="active">New post</li>
<% end %>

<h1>New post <small>Inline Form</small></h1>


<%= render 'form' %>